* {
    margin : 0;
    padding: 0;
}

body {
    background: #0181e6;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.slider-box {
    width     : 45%;
    height    : 45%;
    max-height: 90vh;
    position  : relative;
    overflow  : hidden;
    margin    : 30px auto;
}

.hover:hover {
transition: .3s ease;
opacity: 0.4;
}

